* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: darkgray;
}

.fixedTopBar {
    position: fixed;
    width: 100%;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-item {
    flex: 1;
}

.headerInfoItem:hover {
    color: aquamarine;
    cursor: pointer;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: whitesmoke;
}

.navbar {
    width: 100%;
}

.navigation {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-weight: bold;
    height: 50px;
    max-height: 48px;
}

.navItem {
    width: 250px;
    min-width: 152px;
    text-align: center;
    background-color: aquamarine;
}

.coverImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: whitesmoke;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: darkgrey;
}

.section {
    margin-bottom: 80px;
    background-color: whitesmoke;
}

p {
    text-align: center;
    background-color: whitesmoke;
}

.menuItem:link, .menuItem:visited, .menuItem:active {
    color: black;
    text-decoration: none;
    background-color: aquamarine;
}

.menuItem:hover {
    color: grey;
    background-color: aquamarine;
}

.homeTitle:link, .homeTitle:visited, .homeTitle:active, .homeTitle:hover {
    color: black;
    background-color: darkgrey;
    text-decoration: none;
}

table {
    background-color: whitesmoke;
}

tbody, tr {
    background-color: whitesmoke;
}

tr {
    display: flex;
}

td {
    background-color: whitesmoke;
    padding: 20px 20px;
    flex: 1;
}

em, strong, a {
    background-color: whitesmoke;
}

.educationTable {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.educationData {
    flex: 1;
    width: 250px;
}

.schoolLogo {
    height: 64px;
    width: 90px;
    object-fit: cover;
}

.workEntry {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: whitesmoke;
    margin: auto 120px;
    padding-bottom: 40px;
}

.workInfo {
    flex: 1;
}

.workDataHeader {
    text-align: center;
}

.workDetails, .workDetails > li {
    background-color: whitesmoke;
}

.workDetails {
    flex: 1.25;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.workDetails > li {
    width: 100%;
    padding-bottom: 30px;

}

.spacer {
    background-color: whitesmoke;
    width: 100%;
    height: 40px;
}

.hobbiesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

.imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

.hobbyPic {
    display: block;
    max-width: 230px;
    max-height: 100px;
    width: auto;
    height: auto;
}