* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", "Arial", sans-serif;
    background-color: darkgray;
}

.fixedTopBar {
    position: fixed;
    width: 100%;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-item {
    flex: 1;
}

h1, h3 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    background-color: whitesmoke;
}

.navbar {
    width: 100%;
}

.navigation {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-weight: bold;
    height: 50px;
    max-height: 48px;
}

.navItem {
    width: 250px;
    min-width: 152px;
    text-align: center;
    background-color: aquamarine;
}

.coverImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: whitesmoke;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: darkgrey;
}

.section {
    margin-bottom: 150px;
    background-color: whitesmoke;
}

p {
    text-align: center;
    background-color: whitesmoke;
}

.menuItem:link, .menuItem:visited, .menuItem:active {
    color: black;
    text-decoration: none;
    background-color: aquamarine;
}

.menuItem:hover {
    color: grey;
    background-color: aquamarine;
}

.homeTitle:link, .homeTitle:visited, .homeTitle:active, .homeTitle:hover {
    color: black;
    text-decoration: none;
}

table {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

tbody, tr {
    background-color: whitesmoke;
}

td {
    flex: 1;
    background-color: whitesmoke;
    padding: 40px;
}

em, strong {
    background-color: whitesmoke;
}

.workDetails, .workDetails > li {
    background-color: whitesmoke;
}

.workDetails {
    padding: 20px 80px;
}

.workDetails > li {
    width: 100%;
    padding-bottom: 20px;
}